@import '~@ui/kit/src/variables';

:host {
  width: 100%;
  height: 100%;
  margin-bottom: $offset-sm;
}

.row {
  padding: $offset-xs;
}

.mat-title {
  margin: 0;
}

.grid-container {
  border: 1px solid $gray-400;
  display: block;
  position: relative;
  overflow: auto;
}
