<ng-container matColumnDef="product" sticky>
  <th
    mat-header-cell
    *matHeaderCellDef
    colspan="2"
    class="text--center border-right--bold"
  >
    Товар
  </th>
</ng-container>

<ng-container matColumnDef="id" sticky>
  <th mat-header-cell *matHeaderCellDef rowspan="2">
    Id
  </th>
  <td mat-cell *matCellDef="let data; let i = dataIndex">
    {{ data.value.row.product.id }}
  </td>
</ng-container>

<ng-container matColumnDef="article" sticky>
  <th mat-header-cell *matHeaderCellDef rowspan="2">
    Артикул
  </th>
  <td mat-cell *matCellDef="let data; let i = dataIndex">
    {{ data.value.row.product.article }}
  </td>
</ng-container>

<ng-container matColumnDef="name" sticky>
  <th mat-header-cell *matHeaderCellDef rowspan="2" class="border-right--bold">
    Наименование
  </th>
  <td
    mat-cell
    *matCellDef="let data; let i = dataIndex"
    class="border-right--bold"
  >
    {{ data.value.row.product.name }}
  </td>
</ng-container>
