@import '~@angular/material/theming';
@import '~@ui/kit/src/variables';

table {
  width: 100%;
  border-collapse: separate;
}

td,
th {
  border-right: 1px solid $gray-400;
  padding: 0 $offset-sm !important;
  min-width: 9rem;
  width: 9rem;
}

th {
  background: $gray-200;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

tr.mat-header-row,
tr.mat-row {
  height: 2rem;
}

tr.mat-row {
  &:hover {
    background: $gray-200;
    transition: 180ms ease;
  }
}

td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.value-cell {
  width: 7rem;
  min-width: 7rem;
  max-width: 7rem;
}

.form-cell {
  padding: 0 !important;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(#e3f2fd, 0.12);
  }

  input.mat-input-element {
    min-height: 2rem;
    padding: 0 1rem;
    position: relative;
  }
}

.cell--active {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 1px solid mat-color(mat-palette($mat-light-blue, 800, A100, A400));
  }
}

.border-right--bold {
  border-right: 2px solid $gray-500;
}

.border-bottom--bold {
  border-bottom: 2px solid $gray-500;
}
