@import '~@styles/material';

$login-form-width: $screen-atom * 38;
$login-form-height: $screen-atom * 52;

$login-form-brand-logo-width: $screen-atom * 10;
$login-form-brand-logo-height: $login-form-brand-logo-width;
