@import '~@ui/kit/src/packages/utilites/mixins/page';

// Variable $auth-backgrounds-map must be contain map of screen sizes and its background images
// For example: 1280px: './assets/1280.jpg'
// Note: background image path must be relative for src/style/scss

$auth-backgrounds-map: () !default;
$auth-backgrounds-map: map-merge(
  (
    1280px: 'assets/auth-bg/bg_1280x1024.jpg',
    1366px: 'assets/auth-bg/bg_1366x768.jpg',
    1920px: 'assets/auth-bg/bg_1920x1080.jpg',
    2560px: 'assets/auth-bg/bg_2560x1440.jpg',
    3840px: 'assets/auth-bg/bg_3840x2160.jpg'
  ),
  $auth-backgrounds-map
);

.page--auth-bg {
  background: url(assets/auth-bg/bg_1280x1024.jpg);

  @include page-full-bg($auth-backgrounds-map);
  @include page-full--background-color-hover;
}
