@import '~@ui/kit/src/variables';
@import '~@ui/kit/src/packages/icons/mixins';
@import '@common/authentication/auth-splash/auth-splash.component.scss';

.mdi-st-product {
  @include custom-icon('assets/product_logo_svg_24px.svg');
}

.brand-logo {
  background: url(assets/product_logo_112px.png);
}

.disabled {
  pointer-events: none;
  cursor: default;
}
