@import '../styles/variables';
@import '../styles/mixins';

.auth-card {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: 0.2rem;
  background-clip: border-box;
  background: mat-color($grey-palette, 100);
  width: $login-form-width;
  padding: $offset-md;
  margin: auto;

  .auth-card__form-header {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $offset-xs;
    height: $screen-atom * 4;
  }
}

.mat-form-field {
  width: 100%;
}

.card__brand {
  padding-top: $offset-md;
  margin-bottom: $offset-md;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card__brand__logo {
    width: $login-form-brand-logo-width;
    height: $login-form-brand-logo-height;
    margin-bottom: $offset-md;
  }
}

.card__footer {
  padding-top: $offset-xs;
}
