@import '~@styles/material';

.form-field-group {
  display: flex;

  mat-form-field + mat-form-field {
    padding-left: 1rem;
  }
}

.mat-dialog-content {
  overflow: hidden;
}

.mat-title {
  margin-top: $offset-sm;
}

.mat-tab-group {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.mat-tab-body-wrapper {
  flex: 1 1 auto;
}
