<h1 mat-dialog-title>
  <span *ngIf="params.processAction === processActionEnum.Clone"
    >Clone order</span
  >
  <span *ngIf="params.processAction === processActionEnum.Create"
    >Create a new order</span
  >
  <span *ngIf="params.processAction === processActionEnum.Edit"
    >Edit order {{ params.order.id }}</span
  >
</h1>
<div mat-dialog-content>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Common">
      <ng-container [formGroup]="form">
        <h2 class="mat-title">Customer</h2>

        <div class="form-field-group" formGroupName="customer">
          <app-autocomplete-selection
            [label]="'Name'"
            source="Customer"
            formControlName="model"
            [viewValue]="'name'"
          ></app-autocomplete-selection>

          <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" />
          </mat-form-field>
        </div>

        <h2 class="mat-title">Device</h2>

        <ng-container formGroupName="device">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>SerialNumber</mat-label>
            <input matInput formControlName="serialNumber" />
          </mat-form-field>

          <app-attributes-input
            formControlName="attributes"
          ></app-attributes-input>
        </ng-container>

        <app-autocomplete-selection
          [label]="'Failures'"
          source="Failure"
          formControlName="failures"
          [viewValue]="'name'"
        ></app-autocomplete-selection>

        <div class="form-field-group">
          <mat-form-field appearance="fill">
            <mat-label>Date in</mat-label>
            <input
              matInput
              [matDatepicker]="pickerDateIn"
              formControlName="dateIn"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerDateIn"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerDateIn color="primary"></mat-datepicker>
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            [hidden]="params.processAction !== processActionEnum.Edit"
          >
            <mat-label>Date out</mat-label>
            <input
              matInput
              [matDatepicker]="pickerDateOut"
              formControlName="dateOut"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerDateOut"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerDateOut color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab label="Items">
      <app-order-items-input></app-order-items-input>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="save()"
    cdkFocusInitial
    [disabled]="requestProgress.state.progress || form.invalid"
  >
    {{ requestProgress.state.progress ? 'Saving...' : 'Save' }}
  </button>
</div>
