<div class="shell-content" @fadeIn>
  <mat-drawer-container class="shell-drawer-container" autosize>
    <!-- Shell drawer -->
    <mat-drawer
      *ngIf="isAuthenticated$ | async"
      class="shell-drawer"
      mode="side"
      opened
      [class.shell-drawer--collapsed]="menuCollapsed"
      [@drawerChange]="menuCollapsed ? 'collapsed' : 'expanded'"
    >
      <div class="shell-drawer__header">
        <div class="shell-drawer__header__logo" *ngIf="!menuCollapsed" @fadeIn>
          <img src="assets/service_logo.svg" />
        </div>
        <button mat-icon-button (click)="toggleMenu()">
          <i class="mdi mdi-menu"></i>
        </button>
      </div>
      <mat-nav-list class="shell-menu">
        <a
          mat-list-item
          [routerLink]="item.href"
          [routerLinkActive]="'active'"
          *ngFor="let item of shellConfig.menu.items"
        >
          <i [ngClass]="item.iconClass" mat-list-icon></i>
          <p class="shell-menu__text" mat-line>{{ item.title }}</p>
        </a>
      </mat-nav-list>
    </mat-drawer>

    <!-- Shell Content -->
    <mat-drawer-content
      class="shell-content"
      [@drawerContentChange]="
        menuCollapsed ? 'menu-collapsed' : 'menu-expanded'
      "
    >
      <!-- Shell toolbar -->
      <mat-toolbar class="shell-toolbar" *ngIf="isAuthenticated$ | async">
        <mat-toolbar-row>
          <ng-template
            [ngTemplateOutlet]="toolbarStartItem.template"
            *ngFor="let toolbarStartItem of toolbarStartItems.toArray()"
          ></ng-template>
          <span class="flex-full"></span>
          <app-shell-user-details></app-shell-user-details>
        </mat-toolbar-row>
      </mat-toolbar>

      <!-- Shell router outlet -->
      <div class="shell-content-body">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<!-- Authentication progress splash -->
<ng-container *ngIf="authProgress$ | async as authProgress">
  <div class="shell-auth-splash" *ngIf="authProgress.progress">
    <request-progress-spinner
      [requestProgressState]="authProgress"
    ></request-progress-spinner>
  </div>
</ng-container>
