// Full page
@mixin page-full {
  width: 100%;
  height: 100%;
}

// Fullscreen fixed page
@mixin page-full-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// For centered inner content
@mixin page-full-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Set up page background with mask
@mixin page-full-background($url) {
  @include page-full-background-color-hover;

  @if $url {
    background: url($url) no-repeat 50% / cover;
  }
}

// Transparentize mask
@mixin page-full-background-color-hover($color: #000) {
  &::before {
    @include page-full;
    @include page-full-fixed;

    background: transparentize($color, $amount: 0.8);
    content: '';
  }
}

// Set up page backgrounds for each screen resolution, according to input map
@mixin page-full-bg($backgrounds-map) {
  @each $screen-size, $url in $backgrounds-map {
    @media screen and (min-width: $screen-size) {
      @include page-full-background($url);
    }
  }
}
