<!-- BASELINE SUMMARY -->
<ng-container matColumnDef="baseline-volume-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.baseline?.volume | number: '1.0-2'
      }}<i
        class="mdi mdi--sm mdi-menu cursor-pointer"
        [matMenuTriggerFor]="menu"
      ></i>
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="baseline-net-cost-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.baseline?.netCostAmount | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="baseline-revenue-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.baseline?.revenue | number: '1.0-2'
      }}<i
        class="mdi mdi--sm mdi-menu cursor-pointer"
        [matMenuTriggerFor]="menu"
      ></i>
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="baseline-margin-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-right--bold border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.baseline?.margin | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<!-- PLAN SUMMARY -->
<ng-container matColumnDef="plan-volume-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.plan?.volume | number: '1.0-2' }}
      <i
        class="mdi mdi--sm mdi-menu cursor-pointer"
        [matMenuTriggerFor]="menu"
      ></i>
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="plan-net-cost-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.plan?.netCostAmount | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="plan-revenue-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.plan?.revenue | number: '1.0-2' }}
      <i
        class="mdi mdi--sm mdi-menu cursor-pointer"
        [matMenuTriggerFor]="menu"
      ></i>
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="plan-margin-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.plan?.margin | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="plan-uplift-volume-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div
      class="d-flex flex-full justify-content-between"
      [class.text--danger]="summary?.plan?.upliftVolume < 0"
    >
      {{ summary?.plan?.upliftVolume | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="plan-uplift-amount-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div
      class="d-flex flex-full justify-content-between"
      [class.text--danger]="summary?.plan?.upliftAmount < 0"
    >
      {{ summary?.plan?.upliftAmount | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="plan-roi-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-right--bold border-bottom--bold"
    [hidden]="true"
  ></th>
</ng-container>

<!-- FACT SUMMARY -->
<ng-container matColumnDef="fact-volume-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.fact?.volume | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="fact-net-cost-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.fact?.netCostAmount | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="fact-revenue-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.fact?.revenue | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="fact-margin-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.fact?.margin | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="fact-uplift-volume-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div
      class="d-flex flex-full justify-content-between"
      [class.text--danger]="summary?.plan?.upliftVolume < 0"
    >
      {{ summary?.fact?.upliftVolume | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="fact-uplift-amount-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-right--bold border-bottom--bold"
  >
    <div
      class="d-flex flex-full justify-content-between"
      [class.text--danger]="summary?.fact?.upliftAmount < 0"
    >
      {{ summary?.fact?.upliftAmount | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<!-- PLANFACT SUMMARY -->
<ng-container matColumnDef="planfact-volume-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.planfact?.volume | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="planfact-net-cost-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.planfact?.netCostAmount | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="planfact-revenue-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.planfact?.revenue | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="planfact-margin-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div class="d-flex flex-full justify-content-between">
      {{ summary?.planfact?.margin | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="planfact-uplift-volume-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div
      class="d-flex flex-full justify-content-between"
      [class.text--danger]="summary?.planfact?.upliftVolume < 0"
    >
      {{ summary?.planfact?.upliftVolume | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="planfact-uplift-amount-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
  >
    <div
      class="d-flex flex-full justify-content-between"
      [class.text--danger]="summary?.planfact?.upliftAmount < 0"
    >
      {{ summary?.planfact?.upliftAmount | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="planfact-roi-plan-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
    [hidden]="true"
  >
    <div
      class="d-flex flex-full justify-content-between"
      [class.text--danger]="summary?.planfact?.roiPlan < 0"
    >
      {{ summary?.planfact?.roiPlan | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<ng-container matColumnDef="planfact-roi-fact-summary">
  <th
    mat-header-cell
    *matHeaderCellDef
    class="value-cell summary-cell border-bottom--bold"
    [hidden]="true"
  >
    <div
      class="d-flex flex-full justify-content-between"
      [class.text--danger]="summary?.planfact?.roiFact < 0"
    >
      {{ summary?.planfact?.roiFact | number: '1.0-2' }}
    </div>
  </th>
</ng-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Поровну</button>
  <button mat-menu-item>На основе прошлых продаж</button>
</mat-menu>
