<div class="layout-grid" [formGroup]="form">
  <!-- ROW 1 -->
  <div class="layout-grid__inner">
    <div class="layout-grid__cell">
      <mat-form-field appearance="fill">
        <mat-label>Наименование</mat-label>
        <input matInput required autocomplete="false" formControlName="name" />
      </mat-form-field>
    </div>
    <div class="layout-grid__cell layout-grid__cell--span-2">
      <mat-form-field appearance="fill">
        <mat-label>Дата начала</mat-label>
        <input
          matInput
          required
          [matDatepicker]="startDate"
          placeholder="Дата начала"
          formControlName="startDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="layout-grid__cell layout-grid__cell--span-2">
      <mat-form-field appearance="fill">
        <mat-label>Дата окончания</mat-label>
        <input
          matInput
          required
          [matDatepicker]="endDate"
          formControlName="endDate"
          placeholder="Дата окончания"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <!-- END ROW 1 -->

  <!-- ROW 2 -->
  <div class="layout-grid__inner">
    <div class="layout-grid__cell">
      <mat-form-field appearance="fill">
        <mat-label>Описание</mat-label>
        <textarea
          matInput
          autocomplete="false"
          formControlName="description"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="layout-grid__cell layout-grid__cell--span-2">
      <mat-form-field appearance="fill">
        <mat-label>Статус</mat-label>
        <app-simple-selection
          source="promotionStatuses"
          [required]="true"
          formControlName="status"
          [ignorePagination]="true"
        ></app-simple-selection>
      </mat-form-field>
    </div>
    <div class="layout-grid__cell layout-grid__cell--span-2">
      <mat-form-field appearance="fill">
        <mat-label>Механика</mat-label>
        <app-simple-selection
          formControlName="mechanic"
          [required]="true"
          source="promotionMechanics"
          [ignorePagination]="true"
        ></app-simple-selection>
      </mat-form-field>
    </div>
  </div>
  <!-- END ROW 2 -->

  <!-- ROW 2 -->
  <div class="layout-grid__inner">
    <div class="layout-grid__cell">
      <mat-form-field appearance="fill">
        <mat-label>Клиент</mat-label>
        <app-simple-selection
          formControlName="client"
          [required]="true"
          source="clients"
          [ignorePagination]="true"
        ></app-simple-selection>
      </mat-form-field>
    </div>
  </div>
  <!-- END ROW 2 -->

  <!-- ROW 1 -->
  <div class="layout-grid__inner">
    <div class="layout-grid__cell">
      <mat-form-field appearance="fill">
        <mat-label>Территория</mat-label>
        <app-simple-selection
          formControlName="territory"
          source="territories"
          [ignorePagination]="true"
        ></app-simple-selection>
      </mat-form-field>
    </div>
  </div>
  <!-- END ROW 1 -->
</div>
