<div class="layout-grid example-grid">
  <div class="layout-grid__inner" [formGroup]="form">
    <div class="layout-grid__cell layout-grid__cell--span-6">
      <h2 class="mat-subheading-2 d-flex">
        Торговые точки
        <app-selection-status
          *ngIf="outlets$ | async as outlets"
          [progress]="outletsRequestProgress"
          [count]="outlets.length"
          matTooltip="Количество подобранных ТТ"
        ></app-selection-status>
      </h2>
      <app-classifiers-input
        source="outlets"
        formControlName="outletsClassifiers"
        placeholder="Классификаторы точек"
      ></app-classifiers-input>
    </div>
    <div class="layout-grid__cell layout-grid__cell--span-6">
      <h2 class="mat-subheading-2 d-flex">
        Товары
        <app-selection-status
          *ngIf="products$ | async as products"
          [progress]="productsRequestProgress"
          [count]="products.length"
          matTooltip="Количество подобранных товаров"
        ></app-selection-status>
      </h2>
      <app-classifiers-input
        source="products"
        formControlName="productsClassifiers"
        placeholder="Классификаторы товаров"
      ></app-classifiers-input>
    </div>
  </div>
</div>
