<div class="toolbar avatar-link" *ngIf="user$ | async as user">
  <div class="toolbar__row toolbar__row--dense">
    <div class="avatar cursor-pointer" [matMenuTriggerFor]="appMenu">
      <span class="mat-title font--bold">
        {{ user?.initials }}
      </span>
    </div>

    <mat-menu #appMenu="matMenu" class="popover">
      <div class="popover-details">
        <div class="popover-details__round">
          <span class="mat-headline font--bold">
            {{ user?.initials }}
          </span>
        </div>

        <div class="popover-details__text">
          <p class="popover-details__text--primary font--bold">
            {{ user?.displayName }}
          </p>
          <span class="text--muted">{{ user?.positionName }}</span>
        </div>
      </div>

      <div class="list__delimiter"></div>

      <ul class="list list--hover font--bold">
        <li class="list-item" (click)="logout()">
          <span class="list-item__icon mdi mdi-power text--secondary"></span>
          <span class="list-item__text">Выход</span>
        </li>
      </ul>

      <div class="list__delimiter"></div>

      <ul class="list list--dense">
        <li class="list-item">
          <button mat-button color="primary" (click)="openSupportDialog()">
            Информация и поддержка
          </button>
        </li>
      </ul>
    </mat-menu>
  </div>
</div>
