@import '~@styles/variables';

$user-avatar-size-sm: $screen-atom * 4;
$user-avatar-size: $screen-atom * 10;

.popover-details {
  display: flex;
  padding: $offset-sm;

  .popover-details__round {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin-right: $offset-md;
  }

  .popover-details__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--primary {
      margin-bottom: $offset-xs;
      word-break: break-all;
    }
  }
}
