<header
  class="toolbar main__toolbar"
  *ngIf="isEnabled$ | async"
  [ngClass]="{ 'toolbar--dark': options.theme === 'dark' }"
>
  <div class="toolbar__row toolbar__row--dense">
    <section class="toolbar__section toolbar__section--align-start">
      <button
        class="toolbar__icon-button mdi mdi-menu"
        (click)="toggleSidebar()"
      ></button>
      <button
        class="toolbar__icon-button mdi mdi-home-outline"
        routerLink="/"
      ></button>
      <ng-content></ng-content>
    </section>

    <section class="toolbar__section toolbar__section--align-end">
      <ng-content select="[toolbar-right-section]"></ng-content>
      <div class="toolbar__caption font--bold cursor-default hidden-sm-down">
        <span
          class="toolbar__icon mdi text--secondary cursor-default"
          [ngClass]="productOptions.iconClass"
        ></span>
        {{ productOptions.productName }}
      </div>
    </section>
  </div>
</header>
