:host {
}

.dialog__body--relative {
  position: relative;
  min-height: 50vh;
}

.table-content {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  flex-direction: column;
  overflow: auto;
}
