<core-dialog>
  <core-dialog-header
    [title]="dataSelection.sourceParams.label.plural"
  ></core-dialog-header>
  <core-dialog-body class="dialog__body--relative">
    <div class="table-content">
      <app-data-table
        [sourceParams]="dataSelection.sourceParams"
        [selectable]="true"
        [selected]="dataSelection.selected"
        [multipleSelection]="dataSelection.multipleSelection"
        class="table-content"
      ></app-data-table>
    </div>
  </core-dialog-body>
  <core-dialog-footer>
    <ng-container coreDialogActions>
      <button mat-stroked-button coreDialogClose>
        Закрыть
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="select()"
        [disabled]="dataTable.selectionModel.isEmpty()"
      >
        Выбрать
      </button>
    </ng-container>
  </core-dialog-footer>
</core-dialog>
