@import '~@styles/material';

.mdi-arrow-right {
  padding: 0 $offset-sm;
}

.width-full {
  width: 100%;
}

.highlight {
  background-color: mat-color($mat-red, 300) !important;
  color: #fff !important;
}

.viewport-select {
  width: 100%;
  height: 15rem;
}

.mat-chip {
  margin: 1px 4px 0 4px !important;
  min-height: 20px;
}

.mat-standard-chip.mat-chip-with-trailing-icon {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 0px;
  padding-left: 6px;
}
