@import '~@styles/material';

.table__row {
  transition: 180ms;
}

.mat-table {
  background: transparent;

  .mat-header-row {
    border: 1px solid mat-color($mat-grey, 200);
    border-radius: 0.2rem;
    background: #ffffff;
  }

  .mat-row {
    margin-top: 0.25rem;
    background: #ffffff;
    border-radius: 0.2rem;
  }

  .mat-cell-text {
    display: flex;
    flex-direction: column;

    .mat-cell-text__primary {
      margin-bottom: 0.4rem;
    }

    .mat-cell-text__secondary {
      margin-bottom: 0.4rem;
    }
  }
}

.table-container-header {
  margin-bottom: $offset-md;
}

.table-link {
  color: mat-color($mat-light-blue, 700);
  text-decoration: none;
  font-weight: 700;
}

.mat-column-actions {
  width: 2rem;
  max-width: 2rem;
}

.mat-column-id {
  width: 4rem;
  max-width: 4rem;
  text-align: center;
}

.mat-column-statusId {
  width: 10rem;
  max-width: 10rem;
}

.table-chip {
  border-radius: 16px;
  padding: 0.4rem;
  background: mat-color($mat-grey, 200);
}
