<ng-container matColumnDef="planfact">
  <th mat-header-cell *matHeaderCellDef colspan="8" class="text--center">
    План/Факт
  </th>
</ng-container>

<ng-container matColumnDef="planfact-volume">
  <th mat-header-cell *matHeaderCellDef class="value-cell">Объем</th>
  <td
    mat-cell
    *matCellDef="let data; let i = dataIndex"
    class="value-cell"
    [class.text--danger]="data.value.row.planFact?.volume < 0"
  >
    {{ data.value.row.planFact?.volume }}
  </td>

  <ng-container matColumnDef="planfact-net-cost">
    <th mat-header-cell *matHeaderCellDef class="value-cell">Себестоимость</th>
    <td
      mat-cell
      *matCellDef="let data; let i = dataIndex"
      class="value-cell"
      [class.text--danger]="data.value.row.planFact?.netCostAmount < 0"
    >
      {{ data.value.row.planFact?.netCostAmount | number: '1.0-2' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="planfact-revenue">
    <th mat-header-cell *matHeaderCellDef class="value-cell">Выручка</th>
    <td
      mat-cell
      *matCellDef="let data; let i = dataIndex"
      class="value-cell"
      [class.text--danger]="data.value.row.planFact?.revenue < 0"
    >
      {{ data.value.row.planFact?.revenue }}
    </td></ng-container
  >

  <ng-container matColumnDef="planfact-margin">
    <th mat-header-cell *matHeaderCellDef class="value-cell">Маржа</th>
    <td
      mat-cell
      *matCellDef="let data; let i = dataIndex"
      class="value-cell"
      [class.text--danger]="data.value.row.planFact?.margin < 0"
    >
      {{ data.value.row.planFact?.margin | number: '1.0-2' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="planfact-uplift-volume">
    <th mat-header-cell *matHeaderCellDef class="value-cell">Uplift, объём</th>
    <td
      mat-cell
      *matCellDef="let data; let i = dataIndex"
      class="value-cell"
      [class.text--danger]="data.value.row.planFact?.upliftVolume < 0"
    >
      {{ data.value.row.planFact?.upliftVolume | number: '1.0-2' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="planfact-uplift-amount">
    <th mat-header-cell *matHeaderCellDef class="value-cell">Uplift, сумма</th>
    <td
      mat-cell
      *matCellDef="let data; let i = dataIndex"
      class="value-cell"
      [class.text--danger]="data.value.row.planFact?.upliftAmount < 0"
    >
      {{ data.value.row.planFact?.upliftAmount | number: '1.0-2' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="planfact-roi-plan">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="value-cell border-bottom--bold"
      rowspan="2"
    >
      ROI, план
    </th>
    <td
      mat-cell
      *matCellDef="let data; let i = dataIndex"
      class="value-cell"
      [class.text--danger]="data.value.row.planFact?.roiPlan < 0"
    >
      {{ data.value.row.planFact?.roiPlan * 100 || 0 | number: '1.0-2' }}%
    </td>
  </ng-container>

  <ng-container matColumnDef="planfact-roi-fact">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="value-cell border-bottom--bold"
      rowspan="2"
    >
      ROI, факт
    </th>
    <td
      mat-cell
      *matCellDef="let data; let i = dataIndex"
      class="value-cell"
      [class.text--danger]="data.value.row.planFact?.roiFact < 0"
    >
      {{ data.value.row.planFact?.roiFact * 100 || 0 | number: '1.0-2' }}%
    </td>
  </ng-container>
</ng-container>
