@import '~@styles/material';

$table-cell-selected: mat-color($grey-palette, 100);

:host {
  display: flex;
  flex-direction: column;
  padding: $offset-lg;
}

.data-table {
  width: 100%;
}

.table__row {
  transition: 180ms;
}

.table-container-header {
  margin-bottom: $offset-md;
}

.mat-table {
  background: transparent;

  .mat-header-row {
    border: 1px solid mat-color($mat-grey, 200);
    border-radius: 0.2rem;
    background: #ffffff;
  }

  .mat-row {
    margin-top: 0.25rem;
    border-radius: 0.2rem;
    background: #ffffff;
    border: 0;
  }

  .mat-cell-text {
    display: flex;
    flex-direction: column;

    .mat-cell-text__primary {
      margin-bottom: 0.4rem;
    }

    .mat-cell-text__secondary {
      margin-bottom: 0.4rem;
    }
  }
}

.table--hover {
  transition: 180ms;
}

.table__row--selected {
  background-color: $table-cell-selected !important;

  &:hover {
    background-color: $table-cell-selected !important;
  }
}

.table__row--muted {
  .mat-cell {
    color: mat-color($mat-red, 200);
  }

  color: mat-color($mat-red, 200);
  text-decoration: line-through;
}

.mat-column-actions {
  width: 4rem !important;
  min-width: 4rem !important;
}

.mat-column-row-actions {
  width: 2rem;
  max-width: 2rem;
}

.row {
  max-height: 7rem;
}

.row--sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
  border-top: 1px solid mat-color($grey-palette, 300);
  // background: mat-color($grey-palette, 100);
}

.offset--left-sm {
  padding-left: $offset-sm;
}

.mat-paginator--bg {
  background: mat-color($grey-palette, 100);
}

.table__row {
  position: relative;
  border-bottom-width: 0;
}

.table__row:not(.table__row--expanded) {
  cursor: pointer;
}

.table__row:not(.table__row--expanded):hover {
  background: mat-color($grey-palette, 100);
}

.table__row.table__row--expanded {
  background: mat-color($grey-palette, 100);
  cursor: pointer;
  border-bottom-color: transparent;

  &:hover {
    background: mat-color($grey-palette, 200);
  }
}

.detail-row {
  min-height: 0;
}

.mat-column-expandedDetail {
  background: mat-color($grey-palette, 100);
}

.expanded-detail {
  background: mat-color($grey-palette, 100);
  overflow: hidden;
  flex: 1 1 auto;
  display: flex;
}
