<ng-container *ngIf="isHandset$ | async as isHandset">
  <div class="shell-content">
    <mat-sidenav-container class="shell-sidenav-container">
      <mat-sidenav
        #snav
        class="shell-sidenav"
        [mode]="isHandset.matches ? 'over' : 'side'"
        [fixedInViewport]="isHandset.matches"
        [fixedTopGap]="isHandset.matches ? 0 : 56"
      >
        <app-shell-user-details #userDetails></app-shell-user-details>
        <mat-nav-list>
          <a mat-list-item routerLink=".">
            <i class="mdi mdi-book-open-page-variant" mat-list-icon></i>
            <p mat-line>Main book</p>
          </a>
          <a mat-list-item routerLink=".">
            <i class="mdi mdi-settings" mat-list-icon></i>
            <p mat-line>Settings</p>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item (click)="userDetails.logout()">
            <i class="mdi mdi-logout" mat-list-icon></i>
            <p mat-line>Logout</p>
          </a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content class="shell-content">
        <mat-toolbar class="shell-toolbar">
          <button mat-icon-button (click)="snav.toggle()">
            <i class="mdi mdi-menu"></i>
          </button>
          <h1 class="shell-brand-name">Service Lore</h1>
        </mat-toolbar>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-container>
