@import '~@styles/variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.shell-toolbar {
  height: 3rem;
  border-bottom: 1px solid mat-color($grey-palette, 300);
}

.shell-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.shell-brand-name {
  margin-left: $offset-sm !important;
}

.shell-sidenav {
  width: 10rem;
}

.shell-sidenav-container {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}
