@import '~@ui/kit/src/variables';

:host {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: $offset-lg;
  width: 100%;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
