@import '../material';

.offset--xs {
  padding: $offset-xs;
}

.offset--sm {
  padding: $offset-sm;
}

.offset--md {
  padding: $offset-md;
}

.offset--lg {
  padding: $offset-lg;
}

.offset--xl {
  padding: $offset-xl;
}
