<ng-container [formGroup]="form">
  <div class="" *ngFor="let attr of attributes$ | async">
    <app-data-chips-selection
      [label]="attr.name"
      [values]="attr.values"
      [formControlName]="attr.id"
      [viewValue]="'value'"
      *ngIf="attr.type === objectTypeEnum.ListMultipleValue"
    ></app-data-chips-selection>

    <mat-form-field appearance="fill">
      <mat-label class="text--capitalize">{{ attr.name }}</mat-label>
      <app-simple-selection
        [values]="attr.values"
        [viewValue]="'value'"
        [formControlName]="attr.id"
        *ngIf="attr.type === objectTypeEnum.ListSingleValue"
      ></app-simple-selection>
    </mat-form-field>
  </div>
</ng-container>
