@import '~@styles/material';

.search-form-field {
  display: flex;
  align-items: center;
  flex: 1 1 auto;

  .mdi {
    display: block;
  }

  input {
    @include mat-typography-level-to-styles($application-typography, title);

    border: 0;
    height: 3rem;
    padding: 0 0.5rem;
  }
}
